.top{
    margin: 1% 15%;
   
    display: flex;
    justify-content: start;
    gap: 40px;
}
.top label{
    
    margin: 0px 0 0 14px;
    font-weight: 500;
}

.cart-container{
    margin: 1% 15%;
   
    display: flex;
    
    
    
}
.cart-container .cart .cartItem {
    display: flex;

   width: 700px;
   height: 200px;
   margin: 10px;
   border: 1px solid rgb(174, 169, 169);
   border-radius: 5px;
   position: relative;
}
.cartItem img{
   width: 30%;
   margin: 10px;
   z-index: -1;
   
}
.checkbox{
 z-index: 1;
 position: absolute;
 top: 9%;
 right: 96%;
 width: 18px;
 height: 18px;
 border: 1px solid black;
 border-radius: 15px;
}
.cartItem .cartDescription{
    width: 70%;
    margin: 1px 40px;
    text-align: left;
}
.cartDescription p:nth-child(1){
  font-weight: 700;
}
.cart-container p:nth-child(3){
    font-weight: 100;
    font-size: 15px;
}
.cart-container select{
    margin-left: 22px;
    border: none;
    background: rgb(230, 225, 225);
    font-weight: 800;
}
.cartItemPrice{
    display: flex;
    justify-self: start;
    
    
}
.cartItemPrice p:nth-child(1){
    font-size: 16px;
    font-weight: 700;
}
.cartItemPrice p:nth-child(2){
    font-weight: 100;
}
.cartItemPrice p:nth-child(3){
    font-weight: 100;
}
.return{
    display: flex;
    justify-content: left;
    gap: 0;
    font-weight: 100;
    font-size: 15px;
    
}
.return span {
    margin: 2% 0 0 2%;
    padding: 0;

}

.cartItem .removeFromCart{
 margin: 10px;
 width: 40px;
 height: 40px;
}


.cart-container .billing{
    width: 10%;
}
